*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "textFont";
    color: #713f12;
}
body{
    
    background-color: #fef08a;
    display: flex;
    flex-direction: column;
}
img{
  max-width: 80%;
}
@font-face {
  font-family: "titleFonts";
  src: url(./JI\ Burrito.ttf);
}
@font-face {
  font-family: "textFont";
  src: url(./GFSNeohellenic.ttf);
}
 nav ul {
    list-style-type: none;
  
    display: flex;
    color: #854d0e;
   
  }
  nav li{
    font-family:"titleFonts" ;
  }
   li {
    display: inline-block;
    padding-inline: 3rem;
    padding-block: 1rem;
    font-size: 1.2rem;
  }
  nav{
    display: flex;
    justify-content: center;
    background: #facc15;
    
   
  }
  div h4{
    font-size: 2rem;
  }
  div h5 {
    font-size: 1.3rem;
  }
  .card div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  nav li:hover{
    background: #fef08a;
  }
  #content{
    margin-inline: 20%;
    margin-block: 1rem;
    background-color:#facc15;
    min-height: 800px   ;
    max-width: 80%;
    border-radius: 20px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    row-gap: 0.75rem;
  }
  footer h4{
   text-align: center;
  }
  h1{
    font-family:"titleFonts" ;
    color: #854d0e;
  }
  .logo{
    max-width: 30%;
  }
  .bio{
    font-size: 1.2rem;
  }
  .card{
    min-width: 90%;
    height: 30%;
    background-color: #eab308;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
  }
  @media screen and (max-width:600px){
    .card img {
      width: 100px;
      
    }
  }
  @media screen and (min-width:600px){
    .card img {
      width: 160px;
      
    }
  }
.menu-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}